/*CSS for about me dropdown*/

#about-div {
	position: fixed;
	z-index: 27;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
}
#about-wrapper {
	width: 500px;
	position: relative;
	margin: 50px auto;
}
.bio-div {
	padding-left: 20px;
	padding-right: 20px;
}
.bio-text {
	font-size: 20px;
}
#knowledge-header, #learning-header, #downloads-header {
	font-size: 30px;
}
.knowledge-div, .learning-div, .downloads-div {
	width: 500px;
	padding-left: 20px;
	padding-right: 20px;
}
.knowledge, .learning, .downloads {
	padding: 5px 10px 5px 10px;
	background-color: #B0171F;
	color: white;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 5px;
}
.learning-div {
	margin-bottom: 30px;
}
/*.knowledge:hover, .learning:hover, .downloads:hover {*/
.downloads:hover {
	padding: 3px 7px 3px 7px;
	margin: 2px 3px 2px 3px;
}
.last:hover {
	padding: 3px 7px 3px 7px;
	margin: 2px 3px 7px 3px;	
}
#me {
	font-size: 38px;
}

@media 
only screen and (max-width: 500px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#about-wrapper {
		width: 100%;
	}
	#about-div {
		padding-left: 10px;
		padding-right: 10px;
	}
	.bio-div {
		padding-left: 10px;
		padding-right: 10px;
	}
	.knowledge-div, .learning-div, .downloads-div {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
	}

}