@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

body {
	margin: 0;
}

/* BORDER CSS */
.top, .left, .right {
	background: #ffffff;
	position: fixed;
	}
	.left, .right {
		top: 0; 
		bottom: 0;
		width: 20px;
		z-index: 30;
		}
		.left { left: 0; }
		.right { right: 0; }
		
	.top {
		left: 0; 
		right: 0;
		height: 20px;
		top: 0;
		z-index: 30;
		}

.top-button {
    top: 19px;
    position: fixed;
    left: 50%;
    width: 0px;
    margin-left: -30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
	z-index: 30;
}

#menu-icon-div {
	position: fixed;
	left: 50%;
	top: 20px;
	width: 30px;
	text-align: center;
	margin-left: -15px;
	font-size: 20px;
	z-index: 30;
}
.menu-icon {
	color: #B0171F;
}

/*Menu media queries*/
@media 
only screen and (max-width: 600px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	.left, .right { 
		display: none; 
	}

}
