/*CSS for thought process dropdown*/

#process-div {
	position: fixed;
	z-index: 27;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 20px 20px 0 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
	-webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#process1, #process2, #process3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	width: 300px;
	color:  #B0171F;
	margin: 25px 5px 25px 5px;
	text-align: center;
  -webkit-align-items: center;
  align-items: center;
	-webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}


#process1 {
	top: 0;
}
#process-lightbulb {
	height: 70px;
	width: 70px;
}

#process-beaker {
	height: 75px;
	width: 75px;
}

#process-heart {
	padding-top: 8px;
	font-size: 60px;
}

.icon-holder-div {
	height: 75px;
}

@media 
only screen and (max-width: 900px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
		.flex-container {
		  -webkit-flex-direction: column;
	    flex-direction: column;
		}
		#process1, #process2, #process3 {
			font-size: 18px;
		}
		#process1{
			margin-top: 40px;
		}

}